<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Cadastro de Pacientes</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/style.css"/>
</head>
<body>
	
	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo" style="padding-left: 10px;">Cadastro de Pacientes Cliniconect</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/pacientes" class="waves-effect btn"><i class="material-icons left">chrome_reader_mode</i>Lista de pacientes</a></li>
		        <li><a href="/cadastrarPaciente" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar paciente</a></li>
		      </ul>
		    </div>
		</nav>
	
	</header>
	
	<h2 style="text-align: center">Bem vindo ao sistema de cadastro de pacientes</h2>
    <p  style="text-align: center; font-size: 23px;">Selecione a opção de cadastrar um novo paciente ou ver a listagem de pacientes já cadastrados</p>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>


</html>

